<style>
    td{
        border:2px
    }
    tr{
        border: 3px;
    }
</style>
<form action="/books/search" method="post">
  <input id="search" name="search" type="text"/>
  <input name="commit" type="submit"/>
</form>

<h1>Listing books</h1>

<table>
  <tr>
    <th>Bookname</th>
    <th>Rating</th>
    <th>Author</th>
    <th>Author's Image</th>

  </tr>

<% @books.each do |book| %>
  <tr style="border: 10px;">
    <td><%= book.bookname %></td>
    <td><%= book.rating %></td>
    <td><%= book.author %></td>
    <% if !book.author_image.blank? %>
         <td style="padding-left:10px;" ><%= image_tag book.author_image.url %></td>
    <% else %>
        <td style="padding-left: 20px;"><p>Sorry No image</p></td>
     <% end %>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, :method => :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
