<p id="notice"><%= notice %></p>

<p>
  <b>Bookname:</b>
  <%= @book.bookname %>
</p>

<p>
  <b>Rating:</b>
  <%= @book.rating %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Avatar:</b>
  <%= image_tag @book.author_image.url %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
